
<div class="row justify-content-center pinktext mb-5">
  <div class="col textcenter">
    <h3>A simple clean web app for keeping up with and boosting your group members online.</h3>
  </div> 
</div>    

<div class="row justify-content-center pt-3">
  <div class="col justify-content-center faq">
    <div class="col col-sm-6 demo pb-5">
       <img class="img-fluid" src="assets/demo.gif">
    </div>  
    <div class="col col-sm-5 pb-5">
      <h4>Create a Xapnik group in seconds from your existing Slack team.</h4>
      <p>Social media streams get overwhelming. But your group can be there for each other online, when and where it matters. Whether it's Twitter, Instagram or the comments section on a blog, your group sees quickly and easily when members are posting so they can amplify each other. It's private and opt-in, so everybody's safe.</p>
      <h4>Stay sane. Focus on the Now.</h4>
      <p>Xapnik sticks to today's activity so you can focus on taking action in the moment. No wading through yesterday's news or being pulled down the rabbit hole of stale content and conversations.</p>
      <h4>It's easy and free, and the benefits are huge.</h4>
      <p>Just click the "Add to Slack" button. Your Xapnik group will be created automatically and your Slack group's members invited to join.</p>
      <p>When your group members feel supported and connected via social media, they're much more likely to stay engaged and active in your group.</p>
    </div> 
  </div>   
</div>