<mat-grid-list cols="4" rowHeight="20em" style="margin-top:31px;">
  <mat-grid-tile class="container" colspan="4">
    <span class="content">
      <h4 class="header-secondary">You've got your group's back when and where it matters.</h4>
      <p class="desc secondary">Social media streams get overwhelming. But you can ensure you're there for your comrades when they need you online.
        Whether it's Twitter, Instagram or the comments section on a blog, your group can make sure they show up for each
        other in numbers when it matters.</p>
    </span>
  </mat-grid-tile>
  <mat-grid-tile class="container" colspan="4">
    <span class="content">
      <h4 class="header-secondary">Stay sane. Focus on the Now.</h4>
      <p class="desc secondary">Xapnik sticks to today's activity so you can focus on taking action in the moment. No wading through yesterday's news
        or being pulled down the rabbit hole of stale content and conversations.</p>
    </span>
  </mat-grid-tile>
  <mat-grid-tile class="container" colspan="4">
    <span class="content">
      <h4 class="header-secondary">It's easy.</h4>
      <p class="desc secondary">Just click the "Add to Slack" button. Your Xapnik group will be created automatically and your Slack group's members
        invited to join.</p>
    </span>
  </mat-grid-tile>
</mat-grid-list>