<mat-toolbar class="toolbar">
  <span class="logo">
    <a routerLink="" class="root-link">
      <img src="assets/logo.png" height="30" width="30" alt="logo">
    </a>
  </span>
  <span>
    <a routerLink="" class="root-link">
      XAPNIK
    </a>
  </span>
  <span class="spacer"></span>
  <span class="slack-button">
    <a (click)="addToSlack()">
      <img alt="Add to Slack" height="40" width="139" src="{{slackImageSource}}" srcset="{{slackImageSourceSet}}">
    </a>
  </span>
</mat-toolbar>
