<mat-list>
  <mat-list-item>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <h4 mat-line>
      <a href='#'>Link To Twitter</a>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <h4 mat-line>
      <a href='#'>Link To Instagram</a>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 200 200" class="icon">
      <rect width="18" height="18" fill="#2E9FFF" />
      <path d="M102.5 167.5c-16.5 0-31.6-6-43.3-16L30.5 155.4l11.1-27.4c-3.9-8.5-6-18-6-28 0-37.3 30-67.5 67-67.5 37 0 67 30.2 67 67.5C169.5 137.3 139.5 167.5 102.5 167.5zM139.1 99.8v-0.2c0-19.5-13.7-33.4-37.4-33.4h-25.6v67.5h25.2C125.2 133.8 139.1 119.3 139.1 99.8L139.1 99.8zM102 117.2h-7.5V82.8h7.5c11 0 18.3 6.3 18.3 17.1v0.2C120.2 111 113 117.2 102 117.2z"
        fill="#000" />
    </svg>
    <h4 mat-line>
      <a href='#'>Link To Disqus</a>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
