<div style="margin-top:50px;">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');"></div>
      <mat-card-title>mspseudolus</mat-card-title>
      <mat-card-subtitle>Kirten Lambertsen</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
          <img src="assets/twitter.png" height="30" width="30" alt="twitter">
          <img src="assets/instagram.png" height="30" width="30" alt="instagram">
          <img src="assets/disqus.png" height="30" width="30" alt="disqus">
      </p>
    </mat-card-content>
    
  </mat-card>
</div>
<mat-toolbar class="toolbar">
  <span>
    Group Name
  </span>
</mat-toolbar>
