<div style="margin-top:50px;">
  <div *ngFor="let user of users">
      <app-group-user 
        [userId]="user.XpnkID" 
        [username]="user.TweeterID" 
        [avatar]="user.ProfileImg" 
        [tweetCount]="getTweetCount(user.XpnkID)" 
        [instagramCount]="getInstagramCount(user.XpnkID)"
        [disqusCount]="getDisqusCount(user.XpnkID)">
      </app-group-user>
  </div>
</div>
<mat-toolbar class="toolbar">
  <span style="text-transform: uppercase">
    {{ groupName }}
  </span>
</mat-toolbar>
