.container-top {
  background-color: #4B4C4C;
  margin-top:30px;
}
.container-middle {
  background-color: #1CB4AC;
}
.container-bottom {
  background-color: #BCBDBD;
}

.header-main {
  color:#00b5ad;
}

.desc.main {
  color:white;
}

.header-secondary {
  color: #493636;
}

.desc.secondary {
  color: black;;
}

.content {
  padding:0px 30px;
  position: absolute;
  left: 5px;
}