<mat-grid-list cols="1" rowHeight="20em">
  <mat-grid-tile class="container-top">
    <span class="content" style="text-align:left;">
      <h2 class="header-main">Because there is power in solidarity.</h2>
      <p class="desc main">Keep track of your group members' activity on social media so you never miss a thing, right from Slack, privately!</p>
    </span>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="20em" style="margin-top:31px;">
  <mat-grid-tile class="container-middle" colspan="4">
    <span class="content">
      <h4 class="header-secondary">You've got your group's back when and where it matters.</h4>
      <p class="desc secondary">Social media streams get overwhelming. But you can ensure you're there for your comrades when they need you online.
        Whether it's Twitter, Instagram or the comments section on a blog, your group can make sure they show up for each
        other in numbers when it matters.</p>
    </span>
  </mat-grid-tile>
  <mat-grid-tile class="container-middle" colspan="4">
    <span class="content">
      <h4 class="header-secondary">Stay sane. Focus on the Now.</h4>
      <p class="desc secondary">Xapnik sticks to today's activity so you can focus on taking action in the moment. No wading through yesterday's news
        or being pulled down the rabbit hole of stale content and conversations.</p>
    </span>
  </mat-grid-tile>
  <mat-grid-tile class="container-middle" colspan="4">
    <span class="content">
      <h4 class="header-secondary">It's easy.</h4>
      <p class="desc secondary">Just click the "Add to Slack" button. Your Xapnik group will be created automatically and your Slack group's members
        invited to join.</p>
    </span>
  </mat-grid-tile>
</mat-grid-list>
<img src="assets/demo.gif" frameborder="0" style="width:100%;height:auto;">
<mat-grid-list cols="1" rowHeight="20em">
  <mat-grid-tile class="container-bottom">
    <span class="content">
      <h4 class="header-secondary">Wait. What exactly is Xapnik?</h4>
      <p class="desc secondary">It's a simple web-based app for keeping track of your group members' activity on social media, so that you never miss
        a thing.</p>
      <p class="desc secondary">Right now, you can spin up a Xapnik group from your Slack group in seconds, just by clicking the "Add to Slack" button.
        Soon, we'll add other easy methods for quickly creating a Xapnik group.</p>
      <p class="desc secondary">Xapnik groups are private to members only (no trolls!).</p>
    </span>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <span class="content">
      <h4 class="header-secondary">About Xapnik</h4>
      <p class="desc">
        Xapnik's the creation of tech veteran, entpreneur, and coder,
        <a href="https://twitter.com/mspseudolus">Kirsten Lambertsen</a>. It was inspired by the members of an informal group she belongs to in NYC called the Danger
        Ladies, a collection of women in tech and startups who banded together to boost each other's careers and lives. The
        Danger Ladies impact on Lambertsen's life demonstrated to her the power of solidarity even for a small group of like
        minded people. She wanted to make it easier for the Danger Ladies to always be there for each other on social media
        (and eventually in the meat space, too), and so she built Xapnik. The events of early 2017 have strengthened Lambertsen's
        belief that small groups of people can make a huge difference in each others lives, even if they're spread out across
        the globe separated by thousands of miles. Her hope is that Xapnik will make a meaningful contribution to the power
        of people when they get together.
      </p>
    </span>
  </mat-grid-tile>
</mat-grid-list>


<mat-toolbar class="toolbar">
  <span class="logo">
    <img src="assets/logo.png" height="30" width="30" alt="logo">
  </span>
  <span>
    XAPNIK
  </span>
  <span class="spacer"></span>
  <span class="slack-button">
    <a (click)="addToSlack()">
      <img alt="Add to Slack" height="40" width="139" src="{{slackImageSource}}" srcset="{{slackImageSourceSet}}">
    </a>
  </span>
</mat-toolbar>
